:root {
    --grisClaro: #f7f7f7;
    --blanco: #ffffff;
}

html { font-size: 62.5%; box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

html, body {
    overflow-x: hidden; /* evita scroll horizontal */
    max-width: 100%;    /* asegura que nada se pase del ancho */
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 2fr auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: var(--grisClaro);
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
    margin: 0;
    padding: 0;
}

p { font-size: 1.8rem; font-family: Arial, Helvetica, sans-serif; text-align: start; }

a { color: #3498db; text-decoration: none; }

h1 { font-size: 6.4rem; }
h2 { font-size: 3.2rem; text-align: start; }
h3 { font-size: 2.4rem; }

/* Header */
.header-bg {
    /* para imagenes de fondo */
    background-image: url(../img/hero-bg.png);

    /* para que la imagen no se repita */
    background-repeat: no-repeat;

    /* para tomar todo el ancho disponible */
    background-size: cover;
    height: 45rem;

    /* el padre siempre debe tener posición relativa para que el hijo se pueda posicionar de forma absoluta */
    position: relative;
}

.contenido-header {
    position: absolute;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 2.5rem;
}

nav {
    display: flex;
    justify-content: end;
    gap: 5rem;
}

nav a {
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.contenido-header p { text-align: center; font-size: 3rem; margin: 0; color: var(--blanco);}
.contenido-header h1 { text-align: center; margin: 0; color: var(--blanco);}

/* Global: Redes sociales */
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.contenido-hero {
    padding: 5rem;
}

/* Header: Redes sociales */
.contenedor .redes-sociales {
    margin-top: 4rem;
}

/* Main */
.contenedor-principal {
    display: grid;
    grid-template-columns: 1fr 30rem; /* contenido ocupa todo el ancho, sidebar fijo a 300px */
    gap: 2rem; /* Espacio entre columnas */
    padding: 2rem;
    width: 100%;     /* ocupa todo el ancho disponible */
    max-width: 100%; /* asegura que nunca se limite */
    margin: 0;
    align-items: start; /* Asegura que sidebar y contenido comiencen arriba */
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
    text-align: left;

     /* ajustar texto */
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;   /* rompe palabras largas */
    word-break: break-word;      /* asegura que las palabras largas no desborden */
}

.contenido p {
    line-height: 1.5;
    color: rgb(51, 51, 51);
    margin: 0 0 2rem 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
}

.sidebar {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sidebar .foto-perfil {
    width: 10rem;
    border-radius: 50%;
    border: 2px solid #ffc7fc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    object-position: top;
    background-color: #f0f0f0; /* Color de fondo mientras carga la imagen */
    transition: transform 0.3s ease;
}
.sidebar .foto-perfil:hover {
    transform: scale(1.05);
}

iframe, img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .contenedor-principal {
        grid-template-columns: 1fr; /* se apilan */
    }

    /* Header */
.header-bg {
    /* para imagenes de fondo */
    background-image: url(../img/hero-bg.png);

    /* para que la imagen no se repita */
    background-repeat: no-repeat;

    /* para tomar todo el ancho disponible */
    background-size: cover;
    height: 60rem;

    /* el padre siempre debe tener posición relativa para que el hijo se pueda posicionar de forma absoluta */
    position: relative;
}
}

footer {
    margin: 0 auto;
    padding: 2rem;
}